<div class="container mt-3">
    <div class="row m-0">
        <div class="col-md-3 col-6   dash-board text-center sign_in_user text-white text-capitalize">
            <div class="row align-items-center m-0 dashboard-item">
                <div class="col p-0 ">
                    <i class="fa fa-fw fa-user"></i>
                </div>
                <div class="col p-0 border-left border-dark">
                    <p class="m-0 text-dark font-weight-bold ">100</p>
                    <a class="text-white">sign in users</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 dash-board text-center total-user text-white text-capitalize">
            <div class="row align-items-center m-0 dashboard-item ">
                <div class="col p-0 ">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="col p-0 border-left border-dark">
                    <p class="m-0 font-weight-bold text-dark">1000</p>
                    <a class="text-white">total users</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 dash-board text-center new-user mt-md-0 mt-3 text-white text-capitalize">
            <div class="row align-items-center m-0 dashboard-item">
                <div class="col p-0 ">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <div class="col p-0 border-left border-dark">
                    <p class="m-0 font-weight-bold text-dark">50</p>
                    <a class=" text-white">new users</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6  dash-board text-center old-user mt-md-0 mt-3 text-white text-capitalize">
            <div class="row align-items-center m-0 dashboard-item"> 
                <div class="col p-0 ">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </div>
                <div class="col p-0 border-left border-dark">
                    <p class="m-0 font-weight-bold text-dark">950</p>
                    <a class=" text-white"> old users</a>
                </div>
            </div>
        </div>
    </div>
</div>