<div *ngFor="let alert of alerts" class="d-flex justify-content-center mt-3">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
<div class="container mt-5">
  <h1 class="text-uppercase text-center text-info">user post details</h1>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>userId</th>
        <th>id </th>
        <th>title</th>
        <th>body</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let x of dataList;index as i'>
        <td>{{i+1}}</td>
        <td><span class="badge  badge-primary">{{x.id}}</span></td>
        <td>{{x.title}}</td>
        <td>{{x.body}}</td>
        <td><button type="button" class="btn btn-danger" (click)="openModal(template,i)">delete</button></td>
      </tr>
    </tbody>
  </table>
  <div>
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left text-capitalize">conformation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="font-weight-bold mb-3 text-capitalize">are you sure want to delete this item   {{user_id+1}} </div>
        <div class="float-right">
          <button type="button" class="btn btn-danger" (click)="confirm()">Yes</button>
          <button type="button" class="btn btn-success ml-3" (click)="decline()">No</button>
        </div>
      </div> 
    </ng-template>
 

   

