.logout {
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .navbar {
        background-color:#2AA582 !important;
    }
  .navbar-brand , .nav-link {
        color: white !important;
    }
  }